.history-carousel-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.history-carousel-container .history-card {
  position: relative;
  width: 280px;
  height: 300px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.history-carousel-container .history-card:hover {
  border-radius: 20px;
}

.history-carousel-container .history-card .history-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
