.journey-card {
  width: 300px;
  height: 250px;
  perspective: 1000px;
}

.journey-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.journey-card:hover .journey-card-inner {
  transform: rotateY(180deg);
}

.journey-card-front,
.journey-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 10px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
}

.journey-card-front {
  transform: rotateY(0deg);
}

.journey-card-back {
  transform: rotateY(180deg);
}

.journey-card-content {
  text-align: center;
}

.journey-card-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.journey-months {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.journey-card-back p {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #fff;
}
